<div id="task-<%= task.id %>">
<p><%= task.name %></p>
<p><%= task.content %></p>
<p><%= task.sequence %></p>
<p><%= task.duedate %></p>
<p><%= task.project_id %></p>
<p><%= task.task_id %></p>
<% @project = Project.where(id: task.project_id) %>
<% @project.each do |project| %>
<%= project.name %>
<p><%= link_to 'Edit', edit_project_task_path(project.id, task.id), remote:true %></p>
<p><%= link_to 'Destroy', project_task_path(project.id, task.id), method: :delete, remote:true, data: { confirm: "Are you sure you want to delete '#{task.name}'?" } %></p>
<% end %>
</div>

<%# getting erros here...edit_project_task_path(task.id) this part, task.id is supposed to be @project.id in my opinion. because the route is project/:id/tasks/:id. now we probably need to put in routes @project = Project.find(params[:id]) i think how the params:id will work in this case, we will need to work with links so that it links to w/e it is correctly...it might be easier to explain in person %>