<div class="container">
  <h1>Editing Task</h1>
  <%= bootstrap_form_for(@task, url: project_task_path(@task),html: { method: :put }) do |f| %>
      <%= f.text_field :name, id: :task_name %>
      <%= f.text_field :content, id: :task_content, required: true %>
      <%= f.number_field :sequence, id: :task_sequence %>
      <%= f.text_field :duedate, id: :task_duedate %>
      <%= f.number_field :project_id, id: :task_project_id %>
      <%= f.number_field :task_id, id: :task_task_id%>
      <%= f.submit %>
  <% end %>
  <%= link_to 'Back', project_tasks_path %>
</div>
