<div id="myModal"></div>
<%= link_to "Create Main Task", new_project_task_path, remote: true, class: "btn btn-outline-primary" %>
<button class="showalltasks btn btn-outline-primary">Show All Tasks</button>

<div id="taskFrame">
<div id="taskFrameInnerWrap">
<a class="" href="#">new</a>
  <% @tasks.each do |task|%>
    <div class="<%= task.duedate %> listFrameContainer">
      <div class="individualTaskWrapLevelOne individualTaskWrap">
        <p id="listTitle"> Get <%=task.name%> done</p>
         <a class="" href="#">edit</a>
         <a class="" href="#">delete</a>
      </div>
      <ol class="listFrame hide-this">
        <%@parent_id_one = task.id%>
        <%@subtasks_one = Task.where(task_id: @parent_id_one)%>
        <%if @subtasks_one != nil%>
          <%@subtasks_one.each do |task|%>
            <li>
              <div class="individualTaskWrapLevelTwo individualTaskWrap">
        					<p> List Name:  <%=task.name%></p>
                  <button class="showMoreInfo"> show more </button>
                  <div class="moreInfo">
                  <p>List content:  <%=task.content%></p>
                </div>
                <div>
                  <a class="" href="#">new</a>
                  <a class="" href="#">edit</a>
                  <a class="" href="#">delete</a>

              </div>
              </div>
              <ol class="hide-this">
                <%@parent_id_two = task.id%>
                <%@subtasks_two = Task.where(task_id: @parent_id_two)%>
                <%if @subtasks_two != nil%>
                <%@subtasks_two.each do |task|%>
                  <li>
                    <div class="individualTaskWrapLevelThree individualTaskWrap">
          							<p> List Name:  <%=task.name%></p>

                    <button class="showMoreInfo"> show more </button>
                    <div class="moreInfo">
                            <p>comments:  <%=task.content%></p>
                     
                    </div>
                    <div>
                      <a class="" href="#">new</a>
                      <a class="" href="#">edit</a>
                      <a class="" href="#">delete</a>
                    </div>

                    </div>
                    <ol class="hide-this">
                      <%@parent_id_three = task.id%>
                      <%@subtasks_three = Task.where(task_id: @parent_id_three)%>
                      <%if @subtasks_three != nil%>
                        <%@subtasks_three.each do |task|%>
                          <li>
                            <div class="individualTaskWrapLevelFour individualTaskWrap">
                  							<p> List Name:  <%=task.name%></p>

                                <button class="showMoreInfo"> show more </button>
                                <div class="moreInfo">
                                    <p>Comments:  <%=task.content%></p>
                                </div>
                                <div>
                                <a class="" href="#">new</a>
                                <a class="" href="#">edit</a>
                                <a class="" href="#">delete</a>
                              </div>
                            </div>
                          </li>
                        <%end%>
                      <%end%>
                    </ol>
                  </li>
                <%end%>
              </ol>
              <%end%>
            </li>
          <%end%>
        <%end%>
      </ol>
    </div>
  <% end %>
</div>
</div>

<div id="timeline-frame">
  <div class="scrollbar">

  	<div class="handle"></div>
  </div>
   <div class="frame">
    	<ul class="slidee">
        <% @duedates.each do |d| %>
        <li class="timelinesection border" id="<%= d.duedate %>"><%= d.duedate %></li>
        <script>
          $(`#<%= d.duedate %>`).click(function(){
            let target = '<%= d.duedate %>';
            $(`.${target}`).show();
            $(`.${target}`).siblings().hide();
          });
        </script>
        <% end %>
    	</ul>
  </div>
</div>

<script>
console.log('toggle-lists.js connected');

const targets = document.getElementsByClassName('listFrameContainer');
const lis = document.getElementsByTagName('li');
const showMoreButtons = document.getElementsByClassName('showMoreInfo');

function hide(e) {
  const { nextElementSibling } = e.target;

  if (nextElementSibling && nextElementSibling.classList.contains('hide-this')) {
    setTimeout(() => {
      nextElementSibling.classList.toggle('hidden');
      e.target.classList.toggle('has-children');
    }, 0);
  }
}

function showMore(e) {
  const { nextElementSibling } = e.target;

  if (nextElementSibling && nextElementSibling.classList.contains('moreInfo')) {
    setTimeout(() => {
      nextElementSibling.classList.toggle('hidden');
      nextElementSibling.classList.toggle('show-animate');
    }, 0);
  }
}

for (let i = 0; i < showMoreButtons.length; i++) {
  showMoreButtons[i].addEventListener('click', showMore);

}

for (let i = 0; i < targets.length; i++) {
  targets[i].addEventListener('click', hide);
}

for (let i = 0; i < lis.length; i++) {
  lis[i].setAttribute('draggable', 'true');
}

</script>
<script>
console.log('script tag in views/tasks/index linked');
var slyelement = {
  obj: {},
  el: '.frame',
  options: {
    horizontal: 1,
    itemNav: 'forceCentered',
    smart: 1,
    activateMiddle: 1,
    activateOn: 'click',
    mouseDragging: 1,
    touchDragging: 1,
    releaseSwing: 1,
    startAt: 0,
    scrollBy: 0,
    speed: 300,
    elasticBounds: 1,
    easing: 'swing', // easeInOutElastic, easeOutBounce
    scrollBar: $('.scrollbar')
  }
};

$(function(){
  slyelement.obj = new Sly($(slyelement.el), slyelement.options);

  slyelement.obj.init();
});

$(window).resize(function(e) {
  slyelement.obj.reload();
});

$('.showalltasks').click(function(){
  $('.listFrameContainer').show();
})
</script>
