<h1><%= @project.name %></h1>
<h1><%= @task.name %> </h1>

<div class="content">
<p><%= @task.name %></p>
<p><%= @task.content %></p>
<p><%= @task.sequence %></p>
<p><%= @task.duedate %></p>
<p><%= @task.project_id %></p>
<p><%= @task.task_id %></p>
</div>

