<div class="grid-stack-item"
    data-gs-x="<%= @x %>" data-gs-y="200"
    data-gs-width="2" data-gs-height="3">
  <div class="grid-stack-item-content">
    <div class="card" id="sticki-<%= sticki.id %>" style="width: 100%; height: 100%;">
      <div class="card-body">
        <h5 class="card-title"><%= sticki.name %></h5>
        <p class="card-text"><%= sticki.content %></p>
        <%= link_to 'Edit', edit_project_sticki_path(params[:project_id], sticki), class: "card-link btn btn-outline-primary" %>
        <%= link_to 'Destroy', project_sticki_path(params[:project_id], sticki), method: :delete, class: "card-link btn btn-outline-danger", data: { confirm: "Are you sure you want to delete '#{sticki.name}'?" } %>
      </div>
    </div>
  </div>
</div>
