<div id="screenFrame">
    <header>  header content
        <div id="viewControlFrame"> view controls </div>
    </header>
    <div id="pageFrame">
        <div id="stickiFrame">
            <div id="stickiFrameInnerWrap">
                <%#some random sticki place-holders:%>
                <%@top = 50%>
                <%@left = 20%>
                <%10.times do |num|%>
                    <div class="stickiWrap" style="top:<%=50 + rand(50)%>px; left:<%=@left%>px">
                        click to make a sticki
                        and drag it
                    </div>
                    <div class="stickiWrap" style="top:<%=200 + rand(50)%>px; left:<%=@left%>px">
                        click to make a sticki
                        and drag it
                    </div>
                    <div class="stickiWrap" style="top:<%=350 + rand(50)%>px; left:<%=@left%>px">
                        click to make a sticki
                        and drag it
                    </div>
                    <%@top += 10%>
                    <%@left += 200%>
                    <%if @top == 40 then @top = 10 end%>
                    <%if @left == 3000 then @left = 100 end%>
                <%end%>
            
            
            </div>
        </div>
        <div id="listFrame">
            <div id="listFrameInnerWrap">
            <%#place-holders for list wraps%>
            <%10.times do |num|%>
                <div class="listWrap">
                    list                    
                </div> 
            <%end%>
           </div>
        </div>
    </div>
   
    <div id="timelineFrame">
        <div id="timelineContent">
            <%#place holder for time logic/ place in helper file%>
                <%@time = Time.new.day%>
                    <%@days = @time + 90%>
                    <%while @time < @days%>
                        <span class="timeDash">
                            <%=@time%>• 
                        </span>
                        <%@time += 1%>
                    <%end%>
        </div>
    </div>
    </div>