<div class="container">
	<div id="project-<%= project.id %>">
		<p>Project Name: <%= project.name %></p>
		<%= link_to 'Edit', edit_project_path(project),class: "btn btn-primary", remote: true %>
	<span> 
		<%= link_to 'Delete', project_path(project),class: "btn btn-primary", method: :delete, data: { confirm: "Are you sure you want to delete '#{project.name}'?" } %>
	</span>
	<span>
	<a href="/projects/<%= project.id %>/tasks" data-turbolinks="false">
		<button class="btn btn-primary">Task</button>
	</a> 
	</span>
	<span>
		<a href="/projects/<%= project.id %>/stickis" data-turbolinks="false">
		<button class="btn btn-primary">Sticki</button>
	</a>
	</span>
</div>
</div>
<hr>

