<div class="container">
<div id="project-<%= project.id %>">
<p>Project Name: <%= project.name %></p>
<p><span><%= link_to 'Edit', edit_project_path(project), remote: true %></span>
	<span> || </span>
<span id='#project-<%= project.id %>'><%= link_to 'Delete', project_path(project), method: :delete, remote: true, data: { confirm: "Are you sure you want to delete '#{project.name}'?" } %></span></p>

<p><span><a href="/projects/<%= project.id %>/tasks"> Task </a></span>
	<span> || </span>
<a href="/projects/<%= project.id %>/stickis"> Sticki </a></p>
</div>
</div>
<hr>
