 <div id="myModal"></div>
<h1 class="blog-post-title">Projects</h1>




<div class="container">
    <%= link_to "stickido a new project", new_project_path, remote: true %>
            <table class="table table-hover">
                <thead>
                    <tr>
                                 <th>Project Name</th>
                    </tr>
                             </thead>

                        <tbody>

                    <% @projects.each do |project| %>
                    <tr>
                        <td><%= project.name %></td>  
                            <td><%= link_to 'Edit', edit_project_path(project), remote: true %>
                            </td>
                            <td><%= link_to 'Delete', project_path(project), method: :delete, data: { confirm: "Are you sure you want to delete '#{project.name}'?" } %></td>
                            <td><a href="/projects/<%= project.id %>/stickis" data-turbolinks="false">Sticki</a></td>
                            <td> <a href="/projects/<%= project.id %>/tasks" data-turbolinks="false">Do</a></td>
                    </tr>
                            <% end %>
                    </tbody>
                </table>
                      
                    
            </div>



