<!DOCTYPE html>
<html>
  <head>
    <title>Stickido</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'%>
  </head>

  <body>
    <nav class="header">

    <%if @page_location != "landing"%>
        <a class="title-button" href="/">Stickido</a>
        <% end %>
        <% if user_signed_in? %>
            <%if @page_location != "projects"%>


                  <a class="" href="/projects" data-turbolinks="false">all my projects</a>


                <%end%>


              <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "") %>


          <% else %>

              <%if @page_location != "landing"%>
              <a class="" href="users/sign_up">Sign Up</a>


              <%= link_to('Login', new_user_session_path, class: "") %>


            <% end %>
          <% end %>


    </nav>

      <%= yield %>

  </body>
</html>

