<!DOCTYPE html>
<html>
  <head>
    <title>Stickido</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', :defer => "defer" ,'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="site-header sticky-top py-1">
      <div class="container d-flex flex-column flex-md-row justify-content-between">
        <a class="py-2" href="/">Stickido</a>
        <a class="py-2 d-none d-md-inline-block" href="/">Home</a>
        <a class="py-2 d-none d-md-inline-block" href="#">Contact</a>
        <% if user_signed_in? %>
        <a class="py-2 d-none d-md-inline-block" href="/projects" data-turbolinks="false">Projects</a>
        <a class="py-2 d-none d-md-inline-block" href="#">Stickis</a>
        <a class="py-2 d-none d-md-inline-block" href="#">Tasks</a>
          <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "py-2 d-none d-md-inline-block") %>
        <% else %>
          <a class="py-2 d-none d-md-inline-block" href="users/sign_up">Sign Up</a>
          <%= link_to('Login', new_user_session_path, class: "py-2 d-none d-md-inline-block") %>
        <% end %>
      </div>
    </nav>

      <%= yield %>

     <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  </body>
</html>
